*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h2{
    font-weight: 300;
}

input{
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #1c6ea44b;
    padding: 10px;
    width: 100%;
}

.firstSec{
    background: #474bff;
background: -webkit-linear-gradient(74deg, #474bff 0%, #bc48ff 100%);
background: linear-gradient(74deg, #474bff 0%, #bc48ff 100%);
color: white;
    padding-bottom: 20px;
    height: 90vh;
}

.elementsTop{
    justify-content: space-between;
}

.elementsTop img{
    border-radius: 59% 40% 39% 55% / 42% 64% 25% 57%;
    width: 800px;
    position: absolute;
    right: 2%;
    bottom: 40%;
}



.logo{
    width: 200px;
    margin: 2%;
}

.slogan{
    margin-top: 20vh;
    margin-left: 2%;
    font-size: 48px;
}

.class{
    font-weight:700;
}

.displayF{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Second Section */

.secSec{
    padding: 5% 15% 5% 15%;

    background: radial-gradient(100% 273.46% at 100% 0%, 
    rgba(12, 141, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #8DA7BE;
    justify-content: space-evenly;

}

.container{

    flex-direction: column;

    width: 250px;
    height: 50%;
    background-color: gray;
    padding: 20px;

    text-align: center;

    background: linear-gradient(180.12deg, rgba(101, 157, 207, 0.4) 4.58%, rgba(0, 0, 0, 0) 99.89%), #FFFFFF;
    border: 2px solid rgba(0, 170, 150, 0.4);
    box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.container h1{
    font-size: 18pt;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container p{
    font-size: 12pt;
    margin-bottom: 10px;
}

.conIcon{
    width: 100px;
}



/* THIRD SECTION */

.thirdSec{
    padding: 100px;
    background: #CDE6F5;
}

.rendered-form{
    flex-direction: column;
    text-align: center;
    width: 40%;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.rendered-form h1{
    font-size: 40pt;
}

.formb{
    flex-direction: column;
}

.formb button{
    color: white;
    font-weight: 300;
    font-size: 14pt;
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 10px;
}


/* MEDIA */


@media only screen and (max-width: 950px) {
    .slogan{
        margin-top: 35vh;
    }

    .slogan{
        font-size: 30px;
    }

    .container{
        width: 300px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .secSec{
        flex-direction: column;

    }
}